*, *:before, *:after {
    box-sizing: border-box;
}

.se-interessou-heading {
    display: flex;
    flex-direction: column;
    width: 31rem;
    gap: 2rem;
}

.se-interessou-heading h1 {
    font-family: Poppins, sans-serif;
    font-size: 2.2rem;
}

.se-interessou-heading span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
