.se-interessou-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: space-around;
  margin: 200px 0px 100px 0px;
  height: 400px;
  width: 100%;
}
.se-interessou-heading {
  display: flex;
  flex-direction: column;
  width: 520px;
  gap: 40px;
}

.se-interessou-heading h1 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
}

.se-interessou-heading span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.se-interessou-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 530px;
  height: 360px;
}

.se-interessou-form span {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}
