@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.sejaUmMotorista {
    position: relative;
    display: flex;
    width: 1250px;
    height: 467px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cardsRow {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.iconCard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 223px;
    height: 223px;
    border-radius: 18px;
}

.imageTextCard {
    position: relative;
    display: flex;
    align-items: center;
    width: 356px;
    height: 223px;
    border-radius: 18px;
}

.imageTextCard > h1, .textImageCard > h1 {
    font-family: Ubuntu, sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 24px;
    margin: 20px;
}

.textImageCard {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 356px;
    height: 223px;
    border-radius: 18px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 480px;
    margin: 80px;
}

.content > h1 {
    position: relative;
    font-size: 32px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: rgba(0,0,0,1);
    margin-bottom: 10px;
}

.content > h2 {
    position: relative;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: rgba(70,70,70,1);
    margin-bottom: 30px;
}

.content > p {
    position: relative;
    font-family: Lato, sans-serif;
    color: rgba(70,70,70,1);
    margin-bottom: 14px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
}

button {
    position: relative;
    font-family: Karla, sans-serif;
    font-weight: 800;
    font-size: 12px;
    width: 290px;
    min-height: 50px;
    border-radius: 200px;
    background-color: rgba(43, 56, 138, 1);
    color: rgba(254, 254, 254, 1);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:active {
    top: 2px;
}
