@import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&family=Lato:wght@400;700;900&display=swap');

.projeto {
  display: flex;
  flex-direction: row;
  padding: 150px 0 0 0;
  justify-content: center;
  align-items: center;
}
.numbers {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.numbers > p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.numbers > p > h1 {
  font-family: 'Lato', sans-serif;
  font-size: 46px;
  font-weight: 800;
}
.text {
  text-align: left;
  padding-left: 100px;
  align-items: start;
}
.text > h3 {
  font-family: 'Poppings', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
}
.text > p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}
.btn-carona {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #000732;
  background-color: #eb72ac;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 3px 3px 10px 0px #0000004d;
}
.btn-carona > strong > p {
  color: #000732;
}

.textButton {
  font-family: 'Karla', sans-serif;
  font-size: 19px;
  margin-left: 40px;
  color: #2b388a;
  text-decoration: none;
  font-weight: 800;
}

@media (max-width: 1200px) {
  .projeto {
    margin: 0 auto;
    flex-direction: column;
  }

  .projeto
  .photo
  img {
    width: 65%;
  }

  .photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .numbers {
    justify-content: center;
  }

  .numbers > p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 20px;
  }
  
  .numbers > p > h1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 800;
  }

  .text {
    padding-left: 0px;
    width: 320px;
  }

  .text > h3 {
    font-size: 32px;
    text-align: center;
  }

  .btn-carona {
    margin-left: 12px;
  }
  
  .textButton {
    font-size: 16px;
    color: #2b388a;
    padding-left: 60px;
    text-decoration: none;
    font-weight: 800;
  }
}
