@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Lato');

.falae-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 131px;
  margin-right: 139px;
  margin-bottom: 200px;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
}

.falae-heading {
  color: var(--neutral-color-neutral-darkest, #171717);
  font-family: 'Karla', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.falae-text {
  color: var(--neutral-color-neutral-darkest, #171717);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 379px;
  margin-bottom: 7px;
}

.falae-email {
  color: var(--neutral-color-neutral-darkest, #171717);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.falae-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-betweeen;
}

.falae-duvida {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb72ac;
  border-radius: 200px;
  width: 230px;
  height: 55px;
  color: #000;
  font-family: Karla, sans-serif;
  font-size: 17.208px;
  font-style: bold;
  font-weight: 800;
  line-height: normal;
}

.falae-contato {
  margin-left: 19px;
  font-family: Karla, sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: #2b388a;
}

.falae-rectangle {
  width: 555px;
  height: 122px;
  border-bottom: 24px;
  border-radius: 61px;
  background: var(--brand-color-brand-tertiary, #ed8024);
  margin-bottom: 24px;
}

.falae-icon-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.texts {
  margin-right: 10vw;
}

@media (max-width: 1100px) {
  .falae-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
  }

  .texts {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .falae-heading {
    font-size: 32px;
  }
  
  .falae-text {
    font-size: 14px;
    font-weight: 600;
    max-width: 320px;
  }
  
  .falae-links {
    max-width: 320px;
    margin-bottom: 50px;
  }
  
  .falae-duvida {
    width: 200px;
    height: 45px;
    font-size: 14px;
  }
  
  .falae-contato {
    text-align: center;
    font-size: 14px;
  }

  .images {
    margin: 0 auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .falae-rectangle {
    width: 95%;
    height: 100px;
  }

  .falae-icon-img {
    align-items: center;
  }

  .falae-icon-img div {
    margin-right: 10px;
  }
}