.orangeCards{
    background-color: gray;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    text-align: center;
    justify-content: center;
    border-style:solid;
    border-color: #ED8024;
    border-width: 8px;
    padding: 20px;
    margin: 20px;  
}

.redCards{   
    background-color: gray;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    text-align: center;
    justify-content: center;
    border-style:solid;
    border-color: #EB3D38;
    border-width: 8px; 
    padding: 20px;
    margin: 20px;
}

.greenCards{  
    background-color: gray;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    text-align: center;
    justify-content: center;
    border-style:solid;
    border-color: #17B270;
    border-width: 8px;
    padding: 20px;
    margin: 20px;
}

.blueCards{
    background-color: gray;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    text-align: center;
    justify-content: center;
    border-style:solid;
    border-color: #2B388A;
    border-width: 8px;
    padding: 20px;
    margin: 20px;  
}

.title{
    display: flex;
    text-align: center;
    justify-content: center;

}
.teste{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 20px;
    padding-bottom: 20px;
    
}