body {
    background: #f2f5f9;
    color: #111;
}
  
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 75%;
}
  
.bottom-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    width: 75%;
}

.card1 {
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: 0.3s;
    height: 236px;
    display: flex;
    justify-content: start;
}

.card1 h1 {
    margin-right: 25px;
    color: #111;
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Poppings', sans-serif;
    text-align: left;
}
  
.card2 {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 236px;
    background: #EB72AC; 
}

.card2 h2 {
    color: #111;
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
}

.card2 p {
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
  
.card3 {
    flex: 2;
}
  
.card3 iframe {
    border-radius: 20px; 
    width: 100%;
}
  
.card4 {
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 304px;
    background: #2B388A; 
}
  
.card4 h2 {
    font-size: 32px;
    color: #FEFEFE;
}

.card4 p {
    margin-top: 15px;
    color: #FEFEFE;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
  
.card4 .btn {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    display: inline-block;
    padding: 12px;
    font-size: 16px;
    color: #2B388A;
    background-color: #FEFEFE;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    width: 70%;
}

